body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 10px 20px;
}

.banner h2 {
    font-size: 28px;
    font-weight: bold;
}
